@import "bootstrap";
* {
  font-family: 'Poppins', sans-serif !important;
}
.btn {
  transition: 0.3s;
}

.btn:hover {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 17, 255) !important;
  
}
.card {
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.card img {
  border-radius: 10px;
}

h2 {
  font-weight: bold;
}
.hover-top {
  transition: transform 0.3s ease, shadow 0.3s ease;
}

.hover-top:hover {
  transform: translateY(-10px);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.1) !important;
}

/* عشان الخط العربي يبان فخم */
body {
  font-family: 'Cairo', sans-serif;
  background-color: #f8f9fa;
}